/*///////////////////////////////////////CONFIGURATION/////////////////////////////////////////*/

/*  Pour reset les marges*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Pour rendre tous les liens scrollables*/
html {
    scroll-behavior: unset;
}

/* VARIABLES CSS pour changer les couleurs et la police de tout le site */
:root {
    /* COULEURS */
    --color-primary: black;
    --color-secondary: white;

    /* POLICES */
    --police-primary: Verdana, Geneva, Tahoma, sans-serif;
    --police-secondary: cursive;

}

/*///////////////////////////////////////Accueil/////////////////////////////////////////*/

body {
    font-family: var(--police-primary);
    align-items: center;
    color: var(--color-secondary);
}

#wrapper {
    text-align: left;
    display: flex;
    flex-direction: column;
    background: var(--color-primary);
}

h1 {
    padding: 20px;
    font-size: 2em;
    font-family: var(--police-secondary);
    font-weight: lighter;
    text-align: center;
}

a {
    text-decoration: none;
    color: var(--color-secondary);
}

a:hover {
    opacity: 50%;
    transition: ease-in-out 0.5s;
}

p {
    padding-top: 45px;
}

h2 {
    padding: 40px;
    text-align: center;
    font-weight: lighter;
    font-family: var(--police-primary);
}

.logoYoutube {
    width: 10%;
}

.route {
    width: 90%;
    object-fit: cover;
    overflow: hidden;
    height: 130px;
    border-radius: 20px;
    margin: 20px;
}

figure {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: left;
}

.benEtVal {
    width: 15%;
    border-radius: 100px;
    padding: 10px;
    margin-left: 90px;
}

.compteur {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(18, 18, 18);
}

.accueil {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.main {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Bouton {
    filter: invert(1);
    width: 10%;
}

.connexion .Bouton {
    width: 20%;
}

.parametres {
    background: var(--color-primary);
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 40px;
}

.connexion {
    font-family: var(--police-secondary);
    background: var(--color-primary);
    display: flex;
    justify-content: space-around;
    text-align: center;
}

/*///////////////////////////////////////Images Caroussel/////////////////////////////////////////*/

.col {
    width: 52%;
}

.container {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: left;
    scroll-snap-type: x mandatory;
    flex-direction: row;
    padding-bottom: 90px;
}

.container img {
    position: sticky;
    object-fit: cover;
    flex-shrink: 0;
    scroll-snap-align: start;
    width: -webkit-fill-available;
    padding: 10px;
}

/*///////////////////////////////////////Formulaire/////////////////////////////////////////*/

.formulaire {
    background: var(--color-primary);
    padding: 10px;
    height: 700px;
    line-height: 2;
}

#youtube_Envoyer {
    margin-top: 40px;
}

button {
    margin-top: 40px;
}

/*///////////////////////////////////////RESPONSIVE/////////////////////////////////////////*/

/*////////////////INSPECTER - BUREAU - PAGE WEB///////////////////*/
@media only screen and (max-width: 1196px) {

    .container {
        overflow: auto;
        padding-bottom: 60px;
    }
}

/*TABLETTE//////////////////////////////////////////////////////*/

@media (min-width: 769px) and (max-width: 1024px) {

    #wrapper {
        width: 100%;
        margin: auto;
    }

    .logoYoutube {
        display: none;
    }

    .route {
        width: 100%;
        height: 260px;
    }

    figure {
        justify-content: space-evenly;
        padding-top: 30px;
    }

    .benEtVal {
        width: 20%;
        border-radius: 110px;
        padding: 10px;
        margin-left: 30px;
    }

    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 2em;
        padding: 60px;
    }

    p {
        font-size: 1.5em;
    }

    .container {
        overflow: auto;
        padding-bottom: 60px;
    }

}


/*TELEPHONE//////////////////////////////////////////////////////*/

@media (min-width: 0) and (max-width: 768px) {
    #wrapper {
        width: 100%;
        margin: auto;
    }

    .logoYoutube {
        display: none;
    }

    .route {
        width: 100%;
        height: 110px;
        border-radius: 0px;
        margin: 10px;
    }

    figure {
        padding-top: 30px;
        justify-content: center;
    }

    .benEtVal {
        /* width: 30%;
        border-radius: 110px;
        padding: 10px;
        margin-left: 10px; */
        display: none;
    }

    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.5em;
        padding: 40px;
    }

    p {
        padding-top: 55px;
    }

    .connexion .Bouton {
        width: 20%;
        padding-bottom: 30px;
    }

    .main {
        flex-direction: column;
    }

    .main .connexion {
        padding-top: 0px;
    }

    .col {
        width: 106%;
    }

    .custom-file-input {
        font-size: 0.8em;
    }

    .container {
        overflow: auto;
        padding-bottom: 80px;
    }

}