{% extends 'base.html.twig' %}

{% block title %}Youtube Player{% endblock %}

{% block body %}
    <div class="parametres">
        <a href="{{ path ('app_home') }}">
            <img class="Bouton" src="{{ asset('img/house-solid.svg') }}" title="Retour à la page d'accueil" alt="Logo Maison">
        </a>
    </div>

    <div class="formulaire">
        <h2>{{ name }}</h2>
        <div>{{ url|youtube_player|raw }}</div>
    </div>
{% endblock %}
